<!-- In the about page we won't get any css styles added since the header is not included here. -->
<!-- css styles is linked in the header -->
<!-- But we will get the footer as it is included -->

<h3>Hey There!</h3>
<h1>Welcome To Our ToDoList Page</h1>

<%- include("footer") -%>
